@model Papelaria.Models.Fornecedor

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FornecedorNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FornecedorNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FornecedorId" class="btn btn-dark" style="margin:10px 0px">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary" style="margin:10px 0px">Voltar para Lista</a>
</div>
