@{
    ViewData["Title"] = "Privacy Policy";
}

<img src="~/css/imagemCentro1.png" style="height:230px; width:1050px; margin:20px 45px 7px 118px" />

<h4 style="margin:30px; text-align:center">★ Visite-nos hoje e descubra por que somos a escolha preferida de tantos clientes. ★ </h4>
<h6 style="margin:30px; text-align:center">★ Empresa Papelaria Papel ★ </h6>